body {
  font-size: 16px;
  color: #2b283a;
  font-family: "Roboto", sans-serif;
  /* override HTML's default margin. */
  margin: 0;
}

/* ****************** */
/* TYPOGRAPHY */
/* ****************** */

h1,
h3 {
  margin: 0;
}

h1 {
  font-size: 36px;
  color: whitesmoke;
  /* margin: 0; */
}

h2 {
  /* font-size of h2 will default to 1.5x the size of the body */
  /* font-size: 24px;
  /* color has already been set on the body */
  /* color: #2b283a; */
  /* the whitespace between h2 & header comes fr the 45px padding set in 'section' & the default margin of h2 (19.920); set margin to 0 to remove this */
  /* margin: 0; */
  margin-top: 0;
  /* default margin-bottom of 19.920 will be the space bet. 'h2' & the 'img' */
}

h3 {
  font-size: 20px;
  color: #d0aaff;
  /* margin: 0; */
}

p {
  line-height: 23px;
  /* margin: 0; */
}

/* ****************** */
/* LINKS */
/* ****************** */

a {
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover,
a:active {
  color: #d4b44c;
}

/* .btn-dark,
.btn-mid,
.btn-light  */
.btn {
  font-weight: 500;
  text-decoration: none;
  padding: 10px 19px;
  border-radius: 4.6px;
  /* p & buttons won't overlap anymore */
  display: inline-block;
  /* margin-top: 10px; */
}

.btn-dark {
  background-color: #5f29a3;
  color: whitesmoke;
}

.btn-mid {
  background-color: #f0e0ff;
  color: #5f29a3;
  /* font-weight: 500;
  text-decoration: none;
  padding: 10px 19px;
  border-radius: 4.6px; */
}

.btn-light {
  background-color: whitesmoke;
  color: #5f29a3;
}

.btn:hover,
.btn:active {
  background-color: #f3e885;
  color: #2b283a;
}

/* ****************** */
/* LAYOUT */
/* ****************** */

header,
section,
footer {
  padding: 45px 0;
}

header,
.section-two {
  background-color: #5f29a3;
}

.section-two {
  color: whitesmoke;
}

.container {
  width: 620px;
  /* this will align content to the center */
  margin: 0 auto;
}

.main-image {
  width: 100%;
}

.section-two-image-container {
  display: flex;
  justify-content: space-between;
}

.feature-image {
  width: 300px;
  border-radius: 4.6px;
}

/* ************************************************ */

footer {
  text-align: center;
  color: #5f29a3;
}

footer p {
  font-size: 16px;
}
